<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PIM -->
      <package
            uri="http://benchmarkdp.datagenerator.model.PIM"
            class="benchmarkdp.datagenerator.model.PIM.PIMPackage"
            genModel="model/PIM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PSMDoc -->
      <package
            uri="http://benchmarkdp.datagenerator.model.PSMDoc"
            class="benchmarkdp.datagenerator.model.PSMDoc.PSMDocPackage"
            genModel="model/PSMDoc.genmodel"/>
   </extension>

</plugin>
